.copyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 30px;
  background: #ebbe00;
}

.copyCol1,
.copyCol2 {
  display: flex;
  align-items: center;
}

.copycolText {
  color: black !important;
  display: flex;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 12px;
  font-weight: 700;
  list-style-type: none;
  text-decoration: none !important;
}

.copyLi {
  cursor: pointer;
  margin-right: 5px;
}

.copyLi > a {
  color: #000;
  text-decoration: none;
}

.copyLang {
  margin-bottom: 6px;
  font-size: 15px;
  font-weight: 700;
  color: #ee3425;
  text-decoration: underline;
}

@media (max-width: 767px) {
  .copyContainer {
    display: none;
  }
}
