.videocogosub{
    position: relative;
    height: 450px;
    cursor: pointer;
}

.imageaboutus{
    height: 450px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    color: transparent;
}

.h1 .h2 .h3 .h4 .h5 .h6{
    font-family: "Ubuntu",sans-serif;
  }
  
  .p {
    font-family: "PT Sans",sans-serif;;
  }
  
.classmiddleplaybutton{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
}

.imageplaybutton{
    width: 60px;
    height: 60px;
    margin-bottom: 8px;
}

.moreoption{
    background: #ee3425;
}

.moreoptionsub{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.moreoptionleft{
    padding: 25px 0;
}

.moreoptionhead{
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 10px;
    color: #fff;
}

.moreoptionspara{
    font-size: 16px;
    color: #fff;
    margin-bottom: 1em;
}
.moreoptionbtn{
    min-width: 72px;
    height: 36px;
    padding: 4px 16px;
    background: #fbdc00;
    color: #000;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: color .1s linear,background-color .1s linear,border-color .1s linear;
    will-change: color,background-color,border-color;
}


@media only screen and (max-width: 991px) {
    .moreoptionsub{
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .videocogosub{
        width: 100%;
    }
    }

.videoplayer{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    outline: 0;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    color: #eee;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    touch-action: manipulation;
    -ms-high-contrast-adjust: none
}

.videoplayersub{
    width: 800px;
    height: 450px;
    left: 0px;
    top: 25px;
}